.card-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  justify-items: center;
}
.card-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;
}
.card-list-item:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
}
.card-list-item-label {
  margin-bottom: 4px;
}
.card-list-item-image {
  height: 300px;
}
.card-list-pagination {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
